<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
                integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
                crossorigin="anonymous"></script>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <h2>{{ room }}</h2>
        <table>
            <tbody>
                <tr><th>name</th><th>vote</th></tr>
                <tr>
                <td>
                    <input id="name" type="text" value="{{ user.name }}"/>
                </td>
                    <td>
                        <div id="vote">
                            {% for i in votes %} {#  Fn-1 + Fn-2 #}
                            <button accesskey="{{ loop.index }}" >{{ i }}</button>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                {% for player in players %}
                    <tr id="{{ player.id }}">
                        <td>{{ player.name }}</td>
                        <td>{% if player.vote != None %}?{% endif %}</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <button id="flipButton" accesskey="f">Flip</button>
    </body>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
</html>
